
@{
    ViewBag.Title = "About";
}

<h2>AllowAnonymous works displaying herself for user without login !!!</h2>
<p></p>
<p>Request-based tracing is available both in stand-alone IIS Servers and on Azure web apps and provides a way to determine what exactly is happening with your requests and why, provided that you can reproduce the problem that you are experiencing. Problems like poor performance on some requests, or authentication-related failures on other requests, or the server 500 error from ASP or ASP.NET can often be difficult to troubleshoot--unless you have captured the trace of the problem when it occurs. the following article discusses failed request tracing on IIS Server. For information about doing this with Azure web apps, see</p>

